---
layout: default
---

<!-- ========== ABOUT SECTION ========== -->
<section id="about" name="about"></section>
<div id="f">
  <div class="container">
    <div class="row">
      <h3>ABOUT ME</h3>
      <p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i class="icon icon-circle"></i></p>

      <div class="col-lg-6 col-lg-offset-3">
        <p class="center clearfix"><img src="assets/img/me-small-B&W.jpg" id="profile-img" alt="Simun Strukan"></p>
        <p class="text-left">I'm a software developer, engineer, part time musician, and a hobby martial artist from Zagreb.</p> 
        <p class="text-left">After 10 years in software development, and a Bachelors degree in Mechanical Engineering specialized in CAD product development, I turned my focus more on developing digital products by closing multiple science and engineering disciplines. This idea has taken form in small start up studio founded by Tomislav Kozačinski and myself, called <a href="http://www.sintezis.website" target="_blank">Sintezis.</a></p>
      </div>

    </div>
  </div><!-- /container -->
</div><!-- /f -->

<section id="cv" name="cv"></section>
<div id="f">
  <div class="container">
    <div class="row">
      <h3>CIRCULUM VITAE</h3>
      <div class="col-lg-6 col-lg-offset-3">
        <p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i class="icon icon-circle"></i></p>
        <p class="text-left">Over the years I've included myself in various projects, I'm a recored musician, and boxing enthusiast. I have been included in development of various web and mobile projects using multiple programming languages and platforms. I'm in constant search for new things to do, learn and experience.</p> 
        <p class="text-left">At the moment I'm getting my company of the ground, and work per project with this great guys from <a href="http://www.upstack.co" target="_blank">Upstack</a>. If You need more detailed information about my skils and work experience you can download my <a href="Circulum_Vitae.pdf" target="_blank">CV pdf</a>, or visit my online CV page.</a></p>
        <p> <a class="btn btn-warning" href="resume.html">CIRCULUM VITAE</a></p>
      </div>
    </div>
  </div>s
</div>

<!-- ========== BLOG SECTION ========== -->
<section id="contact" name="blog"></section>
<div id="f">
  <div class="container">
    <div class="row">
      <h3>BLOG</h3>
      <p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i class="icon icon-circle"></i></p>
      {% for post in site.posts limit:1 %}
      <header class="post-header">
        <h1 style="color: white;">{{ post.title }}</h1>
        <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • {{ post.author }}{% endif %}</p>
        <img src="assets/img/ornament.png">
      </header>
      <br />
      <p><a class="btn btn-warning" href="{{ post.url }}">READ MORE</a></p>
      {% endfor %}
    </div>
  </div>
</div>

<!-- ========== CONTACT SECTION ========== -->
<section id="contact" name="contact"></section>
<div id="f">
  <div class="container">
    <div class="row">
      <h3>CONTACT ME</h3>
      <p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i class="icon icon-circle"></i></p>

      <div class="col-lg-6 col-lg-offset-3">
        <p>Josipa Prikrila 3<br/>Zagreb, Hrvatska(Croatia)<br/>+385 98 162 43 39</p>
        <p>simun.strukan@gmail.com</p>
        <p><a href="mailto:simun.strukan@gmail.com" class="btn btn-warning">CONTACT ME NOW!</a></p>
      </div>
    </div>
  </div>
</div>