<body data-spy="scroll" data-offset="0" data-target="#theMenu">

  <!-- Menu -->
  <nav class="menu" id="theMenu">
    <div class="menu-wrap blog-menu-wrap">
      <h1 class="logo"><a href="index.html#home">Šimun Strukan</a></h1>
      <!-- <i class="icon-remove menu-close"></i> -->
      <a href="/index.html#home" class="smoothScroll">Home</a>
      <h1 class="logo"><a href="#">Archive</a></h1>
      {% for post in site.posts %}
      <a href="">{{ post.date | date: "%b %-d, %Y" }} | {{ post.title }}</a>
      {% endfor %}
    </div>

    <!-- Menu button -->
    <div id="menuToggle" class="blogMenuToggle"><i class="icon-reorder"></i></div>
  </nav>

  <!-- ========== HEADER SECTION ========== -->
  <section id="home" name="home"></section>
  <div id="headerwrap" class="blog-header">
    <div class="container">
      <div class="logo">
        <a href="/index.html"><img width="61" height="61" src="/assets/img/blog-logo.png"></a>
      </div>
      <br>
    </div><!-- /container -->
  </div><!-- /headerwrap -->
  
