<body data-spy="scroll" data-offset="0" data-target="#theMenu">
  <div class="container container-fluid">


  <!-- ========== HEADER SECTION ========== -->
  <section id="home" name="home"></section>
  <div id="headerwrap">
    <div class="container">
      <div class="logo">
        <a href="index.html"><img width="61" height="61" src="assets/img/blog-logo.png"></a>
        <h1>ŠIMUN STRUKAN</h1>
        <h3>Croatia, Europe, Earth.</h3>
      </div>
      <br>
      <div class="row">
        <br>
        <br>
        <br>
        <div class="col-lg-6 col-lg-offset-3">
        </div>
      </div>
    </div> <!-- /container -->
  </div><!-- /headerwrap -->
  
