<body data-spy="scroll" data-offset="0" data-target="#theMenu">

  <!-- Menu -->
  <nav class="menu" id="theMenu">
    <div class="menu-wrap">
      <h1 class="logo"><a href="index.html#home">Šimun Strukan</a></h1>
      <!-- <i class="icon-remove menu-close"></i> -->
      <a href="index.html#home" class="smoothScroll">Home</a>
      <a href="index.html#about" class="smoothScroll">About</a>
      <a href="index.html#blog" class="smoothScroll">Blog</a>
      <a href="index.html#contact" class="smoothScroll">Contact</a>
      <a href="index.html#resume" class="smoothScroll">Resume</a>
      <a href="https://www.facebook.com/quasar.quasarius.5" target="_blank"><i class="icon-facebook"></i></a>
      <a href="https://twitter.com/Struki84" target="_blank"><i class="icon-twitter"></i></a>
      <a href="https://www.linkedin.com/profile/view?id=243526630" target="_blank"><i class="icon-linkedin"></i></a>
      <a href="https://github.com/Struki84" target="_blank"><i class="icon-github-sign"></i></a>
      <a href="mailto:simun.strukan@gmail.com"><i class="icon-envelope"></i></a>
    </div>

    <!-- Menu button -->
    <div id="menuToggle"><i class="icon-reorder"></i></div>
  </nav>

  <!-- ========== HEADER SECTION ========== -->
  <section id="home" name="home"></section>
  <div id="headerwrap">
    <div class="container">
      <div class="logo">
        <a href="index.html"><img width="61" height="61" src="assets/img/blog-logo.png"></a>
      </div>
      <br>
      <div class="row">
        <h1>ŠIMUN STRUKAN</h1>
        <br>
        <h3>Croatia, Europe, Earth.</h3>
        <br>
        <br>
        <div class="col-lg-6 col-lg-offset-3">
        </div>
      </div>
    </div> <!-- /container -->
  </div><!-- /headerwrap -->
  
