<body data-spy="scroll" data-offset="0" data-target="#theMenu">

  <!-- Menu -->
  <nav class="menu" id="theMenu">
    <div class="menu-wrap">
      <h1 class="logo"><a href="index.html#home">Šimun Strukan</a></h1>
      <!-- <i class="icon-remove menu-close"></i> -->
      <a href="index.html#home" class="smoothScroll">Home</a>
      <!-- <a href="resume.html#hire" class="smoothScroll">Hire Me</a> -->
      <a href="https://twitter.com/dumbuffalo" target="_blank"><i class="icon-twitter"></i></a>
      <a href="https://www.linkedin.com/profile/view?id=243526630" target="_blank"><i class="icon-linkedin"></i></a>
      <a href="https://github.com/Struki84" target="_blank"><i class="icon-github-sign"></i></a>
      <a href="mailto:simun.strukan@gmail.com"><i class="icon-envelope"></i></a>
    </div>

    <!-- Menu button -->
    <div id="menuToggle"><i class="icon-reorder"></i></div>
  </nav>

  <!-- ========== HEADER SECTION ========== -->
  <section id="home" name="home"></section>
  <div id="headerwrap" class="resume-header">
    <div class="container">
      <div class="logo">
        <a href="/index.html"><img width="61" height="61" src="/assets/img/blog-logo.png"></a>
      </div>
      <br>
      <div class="row">
        <h1>CIRCULUM VITAE</h1>
        <div class="col-lg-6 col-lg-offset-3"></div>
      </div>
      <br>
    </div><!-- /container -->
  </div><!-- /headerwrap -->
  
